<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PartyApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ_IvCY499kkty1Zjneg33b3GUtus5RC4" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".EventExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".NewExpenseActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SliderActivity"
            android:exported="false" />
        <activity
            android:name=".EventDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".ContactListActivity"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:exported="false" />
        <activity
            android:name=".NewEventActivity"
            android:exported="false" />
        <activity
            android:name=".EventListActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>